target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Environment file for local variables
.env
config/

*.txt

### IntelliJ IDEA ###
.idea/*
.bsp/
*.iws
*.iml
*.ipr

### Claude ###
.claude/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
